<footer>
    <div>
        <div class="footer">
            <nav aria-labelledby="ONLINE_ALIŞVERİŞ">
                <h4>ONLINE ALIŞVERİŞ</h4>
                <ul aria-label="ONLINE ALIŞVERİŞ">
                    <li>
                        <a>KADIN</a>
                    </li>
                    <li>
                        <a>ERKEK</a>
                    </li>
                    <li>
                        <a>BEBEK</a>
                    </li>
                    <li>
                        <a>ÇOCUK</a>
                    </li>
                    <li><a>H&amp;M HOME</a>
                    </li>
                    <li><a>Spor</a>
                    </li>
                    <li>
                        <a>Magazine</a>
                    </li>
                </ul>
            </nav>
            <nav aria-labelledby="KURUMSAL_BİLGİLER">
                <h4>KURUMSAL BİLGİLER</h4>
                <ul aria-label="KURUMSAL BİLGİLER">
                    <li>
                        <a>H&amp;M’de
                            Kariyer</a>
                    </li>
                    <li>
                        <a>H&amp;M grubu
                            hakkında</a>
                    </li>
                    <li>
                        <a>Sürdürülebilirlik H&amp;M Group</a>
                    </li>
                    <li>
                        <a>Basın</a>
                    </li>
                    <li><a>Yatırımcı
                            İlişkileri</a></li>
                    <li>
                        <a>Corporate Governance</a>
                    </li>
                </ul>
            </nav>
            <nav aria-labelledby="YARDIM">
                <h4 id="YARDIM">YARDIM</h4>
                <ul aria-label="YARDIM">
                    <li>
                        <a>Müşteri Hizmetleri</a>
                    </li>
                    <li>
                        <a>Hesabım</a>
                    </li>
                    <li>
                        <a>Mağaza
                            Bulma Aracı</a>
                    </li>
                    <li>
                        <a>Yasal Kurallar &amp;
                            Gizlilik</a>
                    </li>
                    <li>
                        <a>İletişim</a>
                    </li>
                    <li><a>Hediye kartı</a>
                    </li>
                    <li>
                        <a>Bi̇r
                            dolandırıcılığı bildir</a>
                    </li>
                    <li>
                        <a>Çerez
                            bildirimi</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>
</html>