<!-- The sidebar -->
<div class="sidebar">
    <a class="active" href="#home">Hepsi</a>
    <a href="">Kadin</a>
    <a href="">Divided</a>
    <a href="">Erkek</a>
    <a href="">Bebek</a>
    <a href="">Çocuk</a>
    <a href="">H&M HOME</a>
    <a href="">Spor</a>
    <a href="">INDIRIM</a>
</div>