<!-- The sidebar -->
<div class="sidebar">
    <a class="active" href="/product">Hepsi</a>
    <a href="/search-result?gender=Kadın">Kadin</a>
    <a href="">Divided</a>
    <a href="/search-result?gender=Erkek">Erkek</a>
    <a href="/search-result?gender=Bebek">Bebek</a>
    <a href="/search-result?gender=Çocuk">Çocuk</a>
    <a href="">H&M HOME</a>
    <a href="">Spor</a>
</div>