<nav id="nav">
    <div class="navTop">
        <img src="/img/H&M-Logo.svg.png" style="padding: 2px;" alt="">
    </div>
    <div class="navBottom">
        <h3 class="menuItem">Kadin</h3>
        <h3 class="menuItem">Erkek</h3>
        <h3 class="menuItem">Bebek</h3>
        <h3 class="menuItem">Çocuk</h3>
        <h3 class="menuItem">Spor</h3>
        <h3 class="menuItem">İndirim</h3>
        <h3 class="menuItem">Sürdürülebilirlik</h3>
        <div class="navItem">
            <div class="search">
              <input type=" text" placeholder="Ürün ara" class="searchInput" id="searchInput">
                <img src="./img/search.png" style="padding-left: 5px;" width="20" height="20" alt=""
                    class="searchIcon">
            </div>
        </div>
    </div>
</nav>

<script>
    function searchProducts() {
        // Kullanıcının girdiği arama terimini al
        var searchTerm = document.getElementById("searchInput").value;

        // Arama terimini URL parametresine ekleyerek "/search" sayfasına yönlendir
        window.location.href = "/search?term=" + searchTerm;
    }
</script>