html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: white;
    color: #111;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: #111;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: #111;
    font-weight: 400;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome img{
    height: auto;
    max-width: 100%
}
.home-container{
    background-color: white;
    color: #111;
    padding: 20px 50px;
    height: auto;
}

.home-containerTop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-containerItem{
    margin-top: 5px;
}

.home-containerTop button {
    height: 36px;
    width: 100px; /* Default width for buttons */
    max-width: 100%; /* Ensure buttons don't exceed container width */
    margin: 5px; /* Add margin between buttons */
    background-color: white;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.home-containerTop button:hover {
    background-color: #f1f1f1; /* Change the background color on hover */
}

.home-containerTop button:active {
    background-color: red; /* Change the background color when active */
}


.home-containerItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    margin: 16px 4px;
}

.slider img{
    margin: 16px 4px;
    min-height: 50%;
    max-width: 100%;
}


@media screen and (max-width:480px) {
    nav {
        padding: 20px;
    }

    .search {
        display: none;
    }

    .navBottom {
        flex-wrap: wrap;
    }

    .menuItem {
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    .home-containerTop .menuItem {
        font-size: 0.8em; /* Reduce font size for smaller screens */
    }

    .home-containerTop button {
        width: calc(50% - 10px); /* Adjust button width for even smaller screens with margin */
    }

    .home-containerItem .slider {
        flex-basis: 100%; /* Make images take full width on even smaller screens */
    }
}